*{
  margin: 0px;
  padding: 0px;
}
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  border: 2px solid red;
}
ul{
  display: flex;
  list-style: none;
  gap: 40px;
  cursor: pointer;
}
.data_container{
  border: 2px solid blue;
  display: flex;
  justify-content:space-around;
  /* gap: 15px; */
  flex-wrap: wrap;
}
.data_container img{
  width: 350px;
  height: 250px;
}

.box_meal{
  border: 1px solid red;
  padding: 10px;
  margin: 10px 0px;
}