*{
  margin: 0px;
  padding: 0px;
}
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  border: 2px solid red;
}
ul{
  display: flex;
  list-style: none;
  gap: 40px;
  cursor: pointer;
}