.body{
  margin: 0px;
  padding: 0px ;
  box-sizing: border-box;
}

.Container{
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  color: aliceblue;
}
img{
  border-radius: 50%;
  height: 180px;
  width: 180px;
  cursor: pointer;

}
.imagecontainer{
  display: flex;
  /* flex-direction: column; */
  border: 2px solid red;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.data{
  border: 3px solid greenyellow;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.msg{
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user{
  border: 3px solid greenyellow;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}
.componenet{
  border: 3px solid greenyellow;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30px;
}
.result{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid gold;
  width: 50%;
  margin: auto;
}
.result img{
  height: 150px;
  width: 150px;

}
.result_img{
  display: flex;
  width: 100%;
  justify-content: space-around;
  border: 2px solid red;
}