.dark-mode {
    background-color: black;
    color: white;
    /* Add any other styles for dark mode */
  }
  
  /* Additional styles for specific elements in dark mode */
  .dark-mode .navbar {
    background-color: black;
  }
  .dark-mode .navbar li  {
   color: rgb(255, 255, 255);
  }
  .dark-mode .navbar li:hover  {
    color: rgb(245, 9, 210);
   }
  
  
  .dark-mode .data_container {
    background-color: rgb(0, 0, 0);
    
  }
  
  .dark-mode .box_meal {
    color: white;
  }
  